@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dekaelo-red: #f51b24;
}

html {
  scroll-behavior: smooth;
  background: #050505;
}

body {
  margin: 0;
  background: #050505;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: var(--dekaelo-red);
  color: white;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
